/* ==== MAIN SECTION==== */

/* Mobile Design  */

@media screen and (max-width: 800px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;

    gap: 3rem;
  }

  .hero__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .hero__title {
    font-size: var(--size-4xl);
    text-align: center;
  }

  .hero__desc {
    color: var(--clr-light);
    text-align: center;
  }

  #logos {
    display: flex;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  #logos img {
    max-width: 78px;
  }
}

/* =====DESKTOP DESIGN===== */

@media (min-width: 800px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    gap: 8rem;
  }

  .hero__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3rem;
    text-align: left;
    padding-left: 7rem;
  }

  .hero__title {
    font-size: var(--size-7xl);
  }

  .hero__desc {
    color: var(--clr-light);
    font-size: var(--size-lg);
    padding-right: 2rem;
  }

  .btn {
    margin-left: 0 !important;
  }

  #logos {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
  }

  .hero__right {
    max-width: 500px;

    margin-top: 2rem;
  }
  .hero__right img {
    padding-bottom: 1rem;
  }
}

/* .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;

    border: 2px solid darkgreen;
  }

  .hero__left {
    border: 1px solid saddlebrown;
  }

  .hero__title {
    font-size: var(--size-7xl);
    text-align: left;
  }

  .hero__desc {
    font-size: var(--size-lg);
    text-align: left;
  }

  #logos {
    width: 100%;
  }
  .btn {
    margin-left: 0 !important;
  } */
